html {
   background-color: black;
   display: flex;
   justify-content: center;
}

body {
   display: flex;
   flex-direction: column;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

.scores {
   display: flex;
   justify-content: center;
   background-color: rgb(200, 200, 200);
   padding: 10px 0px;
}

.scores  p {
   font-size: 24px;
   font-weight: bold;
   display: flex;
   flex: 1;
   margin: 0;
   padding-left: 10px;   
}

.playerButtons {
   display: flex;
   justify-content: center;
   justify-content: space-around;
   align-items: center;
   flex: 1;
   flex-wrap: wrap;
   background-color: rgb(100, 100, 100);
}

button {
   font-size: 24px;
   color: white;
   background-color: rgb(100, 100, 100);
   border-radius: 10px;
   border-color: white;
   border-style: solid;
   padding: 20px 50px;
   margin: 5px;
}


.displayresult {
   background-color: rgb(200, 200, 200);
   display: flex;
   align-items: center;  
   justify-content: center;
   flex: 1;
   font-size: 24px;
   font-weight: bold;
}

#displayResult {
   margin: 10px;
}

.display {
   background-color: rgb(100, 100, 100);
   font-size: 18px;
   font-weight: bold;
   color: white;
   display: flex;
   
   
   
}

.display p {
   flex:1;
   margin: 0px;
   padding: 5px
    

}